*{
    margin: 0;
    padding: 0;
}
/* fonts details */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

.open-sans-normal {
    font-family: "Open Sans", serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
    font-variation-settings:"width" 100;
  }
/* Header */
header{
    background-image: url(../images/header_bg.png), url("../images/developer.png");
    background-repeat: no-repeat;
    background-size:auto ;
    background-position: bottom right, top left;

}
/* shared style*/
.text-primary{
    color: #FD6E0A;
}
.dark-2{
    color: #474747;
}
.dark-3{
    color: #757575;
}
.secondary-bg{
    background-color: #FFF8F3;
}
.btn-primary{
    background-color: #FD6E0A;
    color: #ffffff;
    padding: 18px 35px  ;
    border-radius: 5px;
    font-size: 1.25rem;
    border: none;
}
.btn-secondary{
    background-color: #FFF8F3;
    color: #FD6E0A;
    padding: 18px 35px  ;
    border-radius: 5px;
    font-size: 1.25rem;
    border: 1px solid #FD6E0A
    ;
}
.section-title{
    font-size: 35px;
    font-weight: bold;
    color: #181818;
}
.section-description{
    font-size: 18px;
    color: #757575;
    margin: 30px 0;
}
.text-center{
    text-align: center;
}

/* Nav & Hero */
.NavnHero{
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* Nav Styles */
nav{
    display:flex ;
    align-items: center;
    justify-content: center;
    width: 1500px;
    padding-top: 50px;
    
}
.nav-title{
    font-weight: 800px;
    font-size: 45px;
}
nav ul{
    display: flex;
    align-items: center;
    margin-left: 930px;
}
nav ul li{
    list-style: none;
    margin-right: 50px;
    font-size: 1.25rem;
}
nav li a{
    text-decoration: none;
}
/* Banner styles */
.banner{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.banner-content{
    max-width: 585px;
    margin-right: 163px;
}
.banner-greetings{
    font-size: 45px;
    font-weight: 600;
}
.banner-title{
    font-weight: bold;
    font-size: 85Px;
}
.banner-description{
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin: 20px 0 30px 0;
}
.banner-propic{
    width: 585px;
    margin-left: 163px;
}
.banner .btn-primary{
    margin-right: 30px;
}
/* Main Styles */
main{
    max-width: 1140px;
    margin: 0 auto;
}
main section{
    margin-top: 130px;
}
/* About Styles */
.about{
    border-radius: 10px;
    padding: 130px 150px;
    text-align: center;
}
.info-cards{
    display: flex;
    justify-content: space-around;
}
.item-title{
    font-size: 20px;
    color:#757575;
}
.item-desc{
    font-size: 20px;
    color:#474747;
}
/* Skillset Styles */
.skillset > .skill-div > .section-description{
    padding: 0 115px;
}
.skill-cards{
    display: flex;
    gap: 24px;
}
.skill-card{
    padding:30px 30px 30px 30px;
    border-radius: 5px;
    box-shadow: 0px 20px 50px 0px hsl(0, 0%, 80%);
}
.skill-title{
    margin: 30px 0 20px 0;
    font-weight: bold;
    font-size: 20px;
}
.skill-desc{
    font-size: 16px;
    color:#474747;
}
/* Resume Styles */
.Q1{
    display: flex;
}
.cardheading{
    font-weight: bold;
    font-size: 30px;
    color: #474747;
    padding: 113px 0 30px 0;

}
.resumehead{
    font-weight:bold ;
    font-size: 25px;
    color: #474747;

}
.ritem-title{
    font-weight:600;
    font-size: 20px;
    color: #757575;
    padding: 10px 0 20px 0;
}
.ritem-desc{
    color:#757575 ;
    box-shadow: 0px 1px 0 0;
}
.R1{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.resume{
    padding: 0 48px 30px 0;
}
.B1{
    padding-top: 30px;
}
/* Footer Styles */
footer{
    max-width: 1140px;
    margin: 0 auto;
}
#mbox{
    height: 160px;
    width: 460px;
    text-align: top left;
}
.footer{
    display: flex;
    
}